body{
    .Sigma1 {
        border: 5px outset red;
        border-radius:40px;
        background-color: lightblue;    
        text-align: center;
        width: 750px;
        margin:auto;
        margin-top: 20px;
        
        
    }
    .protest-guerrilla-regular {
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
    background-color: rgb(0, 0, 0);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgba(128, 97, 97, 0.984);
}
h1 {
    text-align: center;
    color: rgba(128, 97, 97, 0.984);

  }